# This file is used to store environment variables for LocalStack Pro.
# Rename this file to `localstack.env` and uncomment the line below,
# then replace `YOUR_LOCALSTACK_AUTH_TOKEN` with your actual token.

# LOCALSTACK_AUTH_TOKEN=YOUR_LOCALSTACK_AUTH_TOKEN
